body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
}

/* NAVBAR */
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    z-index: 100;
}

nav a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

/* SECTION FULL SCREEN */
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HERO */
.hero {
    justify-content: space-around;
}

.hero img {
    width: 180px;
    border-radius: 20px;
}

/* CENTER CONTENT */
.center {
    text-align: center;
    width: 80%;
}

/* BUTTON */
.btn {
    background: #38bdf8;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
}

/* SKILL */
.skill {
    margin: 20px 0;
}

.bar {
    background: #334155;
    height: 8px;
}

.bar div {
    height: 8px;
    background: #38bdf8;
}

/* CARD */
.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

/* SOCIAL */
.social a {
    font-size: 25px;
    margin: 10px;
    color: white;
}

/* SCROLL SMOOTH */
html {
    scroll-behavior: smooth;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero img {
        margin-top: 20px;
    }
}
