body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
}

/* NAVBAR */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    z-index: 100;
}

nav a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

/* SECTION (INI KUNCI) */
.section {
    min-height: 100vh;
    padding: 100px 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

/* HERO */
.hero {
    flex-direction: column;
}

.hero img {
    width: 150px;
    border-radius: 20px;
    margin-top: 20px;
}

/* BUTTON */
.btn {
    background: #38bdf8;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
}

/* SKILL */
.skill {
    margin: 15px 0;
}

.bar {
    background: #334155;
    height: 8px;
}

.bar div {
    height: 8px;
    background: #38bdf8;
}

/* CARD */
.card {
    background: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
}

/* SOCIAL */
.social a {
    font-size: 22px;
    margin: 8px;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
}
