body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
}

/* NAVBAR */
header {
    position: sticky;
    top: 0;
    background: rgba(0,0,0,0.7);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

/* HERO */
.hero {
    text-align: center;
    padding: 140px 20px 100px;
}

.hero img {
    width: 130px;
    border-radius: 20px;
    margin-top: 20px;
}

/* SECTION (INI KUNCI 🔥) */
.section {
    padding: 120px 20px; /* BIKIN TERASA 1 LAYAR */
    text-align: center;

    opacity: 0;
    transform: translateY(50px);
    transition: 0.7s ease;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

/* SOCIAL */
.social a {
    font-size: 22px;
    margin: 10px;
    color: white;
}
